/* Coolors Exported Palette - https://coolors.co/34423e-65908d-586758-5b8d8b-70a6a6 */

/* CSS HEX */
--outer-space: #34423Eff;
--dark-cyan: #65908Dff;
--feldgrau: #586758ff;
--dark-cyan-2: #5B8D8Bff;
--verdigris: #70A6A6ff;

/* CSS HSL */
--outer-space: hsla(163, 12%, 23%, 1);
--dark-cyan: hsla(176, 18%, 48%, 1);
--feldgrau: hsla(120, 8%, 37%, 1);
--dark-cyan-2: hsla(178, 22%, 45%, 1);
--verdigris: hsla(180, 23%, 55%, 1);

/* SCSS HEX */
$outer-space: #34423Eff;
$dark-cyan: #65908Dff;
$feldgrau: #586758ff;
$dark-cyan-2: #5B8D8Bff;
$verdigris: #70A6A6ff;

/* SCSS HSL */
$outer-space: hsla(163, 12%, 23%, 1);
$dark-cyan: hsla(176, 18%, 48%, 1);
$feldgrau: hsla(120, 8%, 37%, 1);
$dark-cyan-2: hsla(178, 22%, 45%, 1);
$verdigris: hsla(180, 23%, 55%, 1);

/* SCSS RGB */
$outer-space: rgba(52, 66, 62, 1);
$dark-cyan: rgba(101, 144, 141, 1);
$feldgrau: rgba(88, 103, 88, 1);
$dark-cyan-2: rgba(91, 141, 139, 1);
$verdigris: rgba(112, 166, 166, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #34423Eff, #65908Dff, #586758ff, #5B8D8Bff, #70A6A6ff);
$gradient-right: linear-gradient(90deg, #34423Eff, #65908Dff, #586758ff, #5B8D8Bff, #70A6A6ff);
$gradient-bottom: linear-gradient(180deg, #34423Eff, #65908Dff, #586758ff, #5B8D8Bff, #70A6A6ff);
$gradient-left: linear-gradient(270deg, #34423Eff, #65908Dff, #586758ff, #5B8D8Bff, #70A6A6ff);
$gradient-top-right: linear-gradient(45deg, #34423Eff, #65908Dff, #586758ff, #5B8D8Bff, #70A6A6ff);
$gradient-bottom-right: linear-gradient(135deg, #34423Eff, #65908Dff, #586758ff, #5B8D8Bff, #70A6A6ff);
$gradient-top-left: linear-gradient(225deg, #34423Eff, #65908Dff, #586758ff, #5B8D8Bff, #70A6A6ff);
$gradient-bottom-left: linear-gradient(315deg, #34423Eff, #65908Dff, #586758ff, #5B8D8Bff, #70A6A6ff);
$gradient-radial: radial-gradient(#34423Eff, #65908Dff, #586758ff, #5B8D8Bff, #70A6A6ff);